*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;

}

body {
    padding: 0%;
    margin: 0;
    background: radial-gradient(#879AF2, #D3208B, #FDA000)
}
		.Title {
			color: white; 
			font-family: CustomFont; 
			text-align: center; 
			font-size: 2.5rem;
			padding: 0%;
			margin: 20px;
		}

.calculator-grid {
    display:  grid;
    justify-content:  center;
    align-content:  center;
    min-height: 0vh;
    grid-template-columns:  repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline:  none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction:  column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .current-operand {
    color: white;
    font-size: 1.5rem;
}

.output .previous-operand {
    color: white;
    font-size: 2.5rem;
}

@font-face {
    font-family: CustomFont;
    src: url(HussarBoldWeb-bf92.woff);
}
	
	@font-face {
	font-family: fonts;
	src: url("HussarSzturmOblique-qWXq.otf")
		}
		.text {
    font-family: CustomFont;
    color: white;
	font-size: 1.5rem;
	text-align: justify;
	margin-left: 1%;
        }
		.credits {
			color: white;
			margin-left: 1%;
			text-align: center;
		}
		.creation {
			font-family: CustomFont;
			text-align: center;
			font-size: 2.5rem;
			color: white;
		}
		.information {
			text-align: center;
			color: white;
		}
		nav {
			padding: 0.5%;
			margin: 0%;
			display: block;
			background-color: white;
			height: 3rem;
		}
    .nav2 {
        padding: 1%;
        margin: 0%;
        display: block;
        background-color: white;
        height: 3rem;
      }
        .images {
            width: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
		.links {
			color: black;
			font-family: fonts;
		}
.contact-link {
	text-align: left;
}
aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 0; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
